.one{
	background-color:#6495ED;
	font-weight:bold;
	font-size: 30px;
	margin:0px;
}

.two{
	background-color:#B0C4DE;
	margin:0px;
}

.three{
	margin:0px;
}

.four{
	background-color:#B0C4DE;
	margin:0px;
}
